<footer>
       <div class="footer-inner align-center wrapper">
            <div class="widget">
                <ul class="socialmedia-widget">
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="dribbble"><a href="#"></a></li>
                    <li class="behance"><a href="#"></a></li>
                    <li class="instagram"><a href="#"></a></li>
                </ul>
            </div>

            <div class="widget copyright">
                <p>Copyright &copy; 2014 by Avoc<br>
                Made with Love by <a href="http://www.spab-rice.com">Spab Rice</a></p>
            </div>

            <a id="backtotop" href="#">Back To Top</a>
        </div>
    </footer>
