<header id="header">
		<div class="header-inner clearfix">

            <div id="menu" class="right-float clearfix">
                <a href="#" class="open-nav"><span class="hamburger"></span><span class="text">Menu</span></a>

            	<nav id="main-nav">
					<ul>
						<li class="current-menu-item"><a href="index.html">Home</a>
                        	<ul class="submenu">
                            	<li class="current-menu-item"><a href="index.html">Portfolio <em>Main</em></a></li>
                            	<li><a href="index-creative.html">Portfolio <em>Creative</em></a></li>
                            	<li><a href="index-photography.html">Photography</a></li>
                            	<li><a href="index-masonry.html">Classic Masonry</a></li>
                            	<li><a href="index-agency.html">Agency</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">Pages</a>
                        	<ul class="submenu">
                            	<li><a href="about.html">About <em>classic</em></a></li>
                            	<li><a href="about-creative.html">About <em>creative</em></a></li>
                            	<li><a href="about-minimal.html">About <em>bold minimal</em></a></li>
                            	<li><a href="services.html">Services</a></li>
                            	<li><a href="404.html">404 Page</a></li>
                            </ul>
                        </li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="header-features.html">Features</a>
                        	<ul class="submenu">
                            	<li><a href="general-elements.html">General Elements</a></li>
                            	<li><a href="header-footer-options.html">Header / Footer</a></li>
                            	<li><a href="hero-options.html">Hero Options</a></li>
                            </ul>
                        </li>
						<li><a href="contact.html">Contact</a></li>
                    </ul>
            	</nav>

                <a href="" class="open-filter" data-related-grid="portfolio-grid">Filter</a>
            </div>

            <div id="header-filter">
            	<div class="filter-inner align-center">
                    <a href="" class="close-filter">Close</a>
                	<h5 class="title-filter"><strong>Filter</strong></h5>
                    <ul id="portfolio-filter" class="filter wolf-filter clearfix" data-related-grid="portfolio-grid">
                        <li><a class="active" href="#" data-filter-value="*">All</a></li>
                        <li><a data-filter-value=".branding" href="#" title="Branding">Branding</a></li>
                        <li><a data-filter-value=".print" href="#" title="Print">Print</a></li>
                        <li><a data-filter-value=".photography" href="#" title="Print">Photography</a></li>
                    </ul>
                </div>
            </div>

		</div> <!-- END .header-inner -->
	</header>
