<section id="hero" class="hero-big">
	<div class="owl-slider hero-slider" data-autoplay="true">
		<div class="slider-item" style="background-image:url(/uploads/1680x1100-light.jpg);">
			<div class="owl-slider-caption">
				<h1><strong>Kaffe & Co</strong></h1>
				<h5 class="alttitle">Branding</h5>
			</div>
		</div>

		<div class="slider-item text-light"	 style="background-image:url(/uploads/1680x1100.jpg);">
			<div class="owl-slider-caption">
				<h1><strong>Still Life</strong></h1>
				<h5 class="alttitle">Photgraphy</h5>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(/uploads/1680x1100-light.jpg);">
			<div class="owl-slider-caption">
				<h1><strong>Wood Chair</strong></h1>
				<h5 class="alttitle">Branding</h5>
			</div>
		</div>
	</div>
</section>
