<section id="page-body">

		<div class="wrapper">

			<div id="portfolio-grid" class="wolf-grid" data-randomhorizontaloffset="true" data-mouseparallax="true">

				<div class="wolf-item portfolio-wolf-item branding">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-1.html" class="wolf-media-link"><img src="/uploads/600x400-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption">
                            <a href="portfolio-single-1.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Branding</h6>
							<h4 class="portfolio-name"><strong>Kaffe & Co</strong></h4>
							</a>
						</div>
					</div>
				</div>

				<div class="wolf-item portfolio-wolf-item photography">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-2.html" class="wolf-media-link"><img src="/uploads/600x800-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption" style="margin-bottom:20%;">
							<a href="portfolio-single-2.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Photography</h6>
							<h4 class="portfolio-name"><strong>The Efimer</strong></h4>
                            </a>
						</div>
					</div>
				</div>

                <div class="wolf-item portfolio-wolf-item photography">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-3.html" class="wolf-media-link"><img src="/uploads/600x800-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption" style="margin-top:10%;">
							<a href="portfolio-single-2.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Photography</h6>
							<h4 class="portfolio-name"><strong>Still Life</strong></h4>
                            </a>
						</div>
					</div>
				</div>

                <div class="wolf-item portfolio-wolf-item print">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-1.html" class="wolf-media-link"><img src="/uploads/600x400-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption">
                            <a href="portfolio-single-1.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Print</h6>
							<h4 class="portfolio-name"><strong>Lost Engine <br>Studio</strong></h4>
							</a>
						</div>
					</div>
				</div>

				<div class="wolf-item portfolio-wolf-item branding">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-2.html" class="wolf-media-link"><img src="/uploads/600x400-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption cbottom portfolio-caption" style="margin-right: 8%">
							<a href="portfolio-single-2.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Branding</h6>
							<h4 class="portfolio-name"><strong>Brücke <br>Bier</strong></h4>
                            </a>
						</div>
					</div>
				</div>

                <div class="wolf-item portfolio-wolf-item branding">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-1.html" class="wolf-media-link"><img src="/uploads/600x800-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption">
                            <a href="portfolio-single-1.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Branding</h6>
							<h4 class="portfolio-name"><strong>Modern<br>Wood Chair</strong></h4>
							</a>
						</div>
					</div>
				</div>

                <div class="wolf-item portfolio-wolf-item print">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-1.html" class="wolf-media-link"><img src="/uploads/600x800-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption">
                            <a href="portfolio-single-1.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Print</h6>
							<h4 class="portfolio-name"><strong>Skins Shoe <br>Package</strong></h4>
							</a>
						</div>
					</div>
				</div>

				<div class="wolf-item portfolio-wolf-item print">
					<div class="wolf-item-inner">
						<div class="wolf-media portfolio-media">
                        	<a href="portfolio-single-1.html" class="wolf-media-link"><img src="/uploads/600x400-light.jpg" alt="SEO NAME"></a>
                    	</div>

						<div class="wolf-caption portfolio-caption">
							<a href="portfolio-single-1.html" class="wolf-caption-link">
                            <h6 class="alttitle portfolio-category">Print</h6>
							<h4 class="portfolio-name"><strong>Sixteen & <br>Frans</strong></h4>
                            </a>
						</div>
					</div>
				</div>

			</div> <!-- END #portfolio-grid .wolf-grid -->

		</div> <!-- END .wrapper -->

 	</section>
